body {
  background: #eaeaea;
  touch-action: none;
}

.container {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}
.container.files {
  padding-top: 60px;
}

.row.files > div {
  padding: 15px;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }
  .container.files {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .row.files > div {
    padding: 5px;
  }
  .form-select {
    font-size: 16px;
  }
}

.file-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.file-wrapper .active-filter {
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  background: rgb(123, 210, 124, 0.75);
  z-index: 2;
  display: none;
  pointer-events: none;
}
.file-wrapper .active-filter.show {
  display: block;
}
.file-wrapper.inactive {
  opacity: 0.25;
  cursor: default;
}
.file-wrapper.inactive .active-filter {
  display: none;
}
.file-wrapper img.img-thumbnail {
  width: 100%;
}
.file-wrapper .badges .badge {
  margin-top: 5px;
}
.file-wrapper .bbox {
  outline: 3px solid #4caf50;
  position: absolute;
  z-index: 1;
  display: none;
}
