body {
  background: #eaeaea;
}

.container {
  background: #fff;
  border-radius: 5px;
  padding: 15px;
}
.container.files {
  padding-top: 60px;
}

.row.files > div {
  padding: 15px;
}
@media only screen and (max-width: 600px) {
  body {
    padding: 0;
  }
  .container.files {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
  }
  .row.files > div {
    padding: 5px;
  }
}

.file-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.file-wrapper.active {
  background: rgb(123, 210, 124);
}
.file-wrapper.inactive {
  opacity: 0.35;
  cursor: default;
}
